# database
*.db

# environment
.venv/
.venv*/
.env

# git
.git

# logs
logs/
*.log

# macOS-specific files
.DS_Store

# mypy
.mypy_cache/

# python
.pytest_cache/
__pycache__/

# ruff
.ruff_cache/

# yaml
.prompt.yml
